


<h1>nuovo piatto</h1>
<div>

    <form method="get" action="" id="form">
        <div name="tipidipiatto">
        <span>
            <input type="radio" id="antipasti" name="piatto" value="antipasti" checked>
                <label for="antipasti">antipasti</label>
        </span>
        <span>
          <input type="radio" id="primi" name="piatto" value="primi">
          <label for="primi">primi piatti</label>
        </span>
        <span>
            <input type="radio" id="secondi" name="piatto" value="secondi">
            <label for="secondi">secondi piatti</label>
        </span>
        <span>
            <input type="radio" id="contorni" name="piatto" value="contorni" checked>
            <label for="contorni">contorni</label>
        </span>
        <span>
            <input type="radio" id="dolci" name="piatto" value="dolci">
            <label for="dolci">dolci</label>
        </span>
        <span>
            <input type="radio" id="bevande" name="piatto" value="bevande">
            <label for="bevande">bevande</label>
        </span>
        </div>
        <br>


  <label for="nome">nome:</label><br>
  <input type="text" id="nome" name="nome" ><br>
  
  <label for="ingredienti">ingredienti:</label><br>
  <input type="text" id="ingredienti" name="ingredienti" ><br>

  <label for="prezzo">prezzo:</label><br>
  <input type="number" id="prezzo" step="0.01"  name="prezzo" ><br><br>

  <input type="submit" value="Inserisci piatto">
</form> 
</div>